/*-------------------------*/
/*VARIABLES                */
/*-------------------------*/

:root {
    --main-color: #fc575e;
    --light-color: #f0f1f5;
    --dark-color: #333;
    --main-grey: #555;
}

/*-------------------------*/
/*RESETS                   */
/*-------------------------*/

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/*-------------------------*/
/*GLOBALS                  */
/*-------------------------*/

body {
    background-color: var(--light-color);
}

a {
    text-decoration: none;
}
 
a:hover {
    cursor: pointer;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/*-------------------------*/
/*NAV BAR                  */
/*-------------------------*/
#nav {
    height: 60px ;
    background: var(--dark-color);
    margin-bottom: 25px;
}

/* USING FLEXBOX -------------------*/
#navContainer {
    display: flex;
    flex-direction: row; /* HORIZONTALLY flexbox's main axis makes  the h1 and a go next to each other instead of stacking*/
    height: 100%;
    align-items: center; /*centers items VERTICALLY (on cross axis)*/
    justify-content: space-between; /*HORIZONTALLY uses all the space betwen the elements and puts them apart on the main axis(horizontal)*/
}
/*---------------------------------*/

.nav-header {
    font-size: 28px;
    color: var(--light-color);
}

#addBtn {
    font-size: 24px;
    color: var(--light-color);
}

/*-------------------------*/
/*PANEL                    */
/*-------------------------*/

.panel {
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 3px var(--main-grey);
    /* BOX SHADOW FORMAT: HORIZONTAL VAL (+ RIGHT, - LEFT), VERTICAL VAL (+ DOWN, - UP), BLUR VAL (+ OUTWARDS, - INWARD), COLOR */
    padding: 40px 20px 20px 20px;
    margin: 10px;
}

.panel-heading {
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--main-grey);
}

/*-------------------------*/
/*FORM                     */
/*-------------------------*/


/*INPUT TYPES*/
.form-control {
    width: 100%; /*WIDTH CAN MAKE ELEMENTS GO ATOP EACH OTHER IF THEY WEREN'T ALREADY*/
    margin: 8px 0;
    height: 34px;
    border-radius: 5px;
    border: 1px solid var(--main-grey); /*THIS IS TO REMOVE THE ANNOYING INSET COLOR OF THE TECT BOS*/
    padding: 5px 15px;
    color: var(--main-grey);
    font-size: 14px;
}

/*-------------------------*/
/*BUTTON                   */
/*-------------------------*/

input[type='submit'] { /*THIS IS USED TO SELECT A TYPE OF INPUT ELEMENT*/
    padding: 8px 22px;
    border-radius: 5px;
    border: 1px solid var(--main-color); /*REMOVES THE THIN BLACK DEFAULT BORDER*/
    background: var(--main-color);
    color: var(--light-color);
    font-size: 16px;
}

input[type='submit']:hover {
    background: white;
    color: var(--main-color);
    cursor: pointer;
}

/*-------------------------*/
/*FORM HIDE AND SHOW       */
/*-------------------------*/

.hide {
    display: none;
}